@media screen and (max-width: 1078px) {
    /* .nav-elms{
        display: none;
    }
    .ham-btn{
        display: block;
        padding: 0 20px;
    }
    

    #check:checked ~ label i::before{
        content: "\f00d";
    }
    #check:checked ~ .nav-elms{
        position: absolute;
        margin-top: 313px;
        padding: 20px 30px; 
        width:200px;
        height: 255px;
        background-color: #ECF4FF;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    } */
    .container{
       padding: 0 3rem;
    }
    .navbar{
        flex: none;
        flex-basis: 74%;
        padding-right: 3rem;
    }
   
}
@media screen and (max-width: 769px)  {
    .product-row{
        grid-template-columns: 1fr;
    }
    .p-card{
        flex-direction: row;
    }

}
@media screen and (max-width: 500px)  {
    .hero-section{
        background-image: none;
    }
    p{  
        /* width: 35%; */
        font-size: 16px;
    }
    .nav-elms{
        display: none;
    }
    .ham-btn{
        display: block;
        padding: 0 20px;
    }
    .block-content{
        padding-top: 150px;
        flex-direction: column;
    }

    #check:checked ~ label i::before{
        content: "\f00d";
    }
    #check:checked ~ .nav-elms{
        position: absolute;
        margin-top: 313px;
        padding: 20px 30px; 
        width:200px;
        height: 255px;
        background-color: #ECF4FF;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .brand-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    .product-row{
        justify-items: center;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .p-card{
        max-width: 300px;
        flex-direction: column;
    }
    .sub-card-row{
        grid-template-columns: 1fr 1fr;
        row-gap: 55px;
    }
    .review-row{
        grid-template-columns: 1fr 1fr;
    }
    .product-row{
        justify-items: center;
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
        row-gap: 55px;
    }
    .sub-card-row{
        grid-template-columns: 1fr 1fr;
        row-gap: 55px;
    }
    .footer-content{
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 40px;
        justify-items: center;
    }
    .contact-block{
        justify-content: center;
    }
   
}
@media screen and (max-width: 450px) {
    .h-row{
        margin: 0 auto;
        max-width: 450px;
        grid-template-columns:1fr ;
    }
    .h-row{
        margin-top: -8rem;
    }
    .section-head{
        align-items: center;
        text-align: center;
    }
    .s-width{
        width: 75% !important;
    }
    .section-head p{
       width: 100%;
    }
    .bootum{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
   

}
@media screen and (max-width:350px) {
    .c-row{
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
    .review-row{
        grid-template-columns: 1fr 1fr;
    }
    /* .footer-content{
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    } */
}