@media screen and (max-width: 1078px) {
    img{
        min-height:100%;
    }
    /* .nav-elms{
        display: none;
    }
    .ham-btn{
        display: block;
        padding: 0 20px;
    }
    

    #check:checked ~ label i::before{
        content: "\f00d";
    }
    #check:checked ~ .nav-elms{
        position: absolute;
        margin-top: 313px;
        padding: 20px 30px; 
        width:200px;
        height: 255px;
        background-color: #ECF4FF;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    } */
    .container{
       padding: 0 3rem;
    }
    .navbar{
        flex: none;
        flex-basis: 74%;
        padding-right: 3rem;
    }
    /* .nav-block{
        position: fixed;
        z-index: 999;
        background-color:#ECF4FF;
    } */
   
}
@media screen and (max-width: 769px)  {
    .hero-section{
        background-size: 470px;
        background-position: right;
    }
    .nav-header{
        position: fixed;
        z-index: 999;
    }
    
    .product-row{
        grid-template-columns: 1fr;
    }
    .p-card{
        flex-direction: row;
    }
    .block-content{
        padding-top: 30px;
    }
   
    

}
@media screen and (max-width: 500px)  {
    .container{
        margin: auto;
        padding: 0 40px;
    }
    p{  
        /* width: 35%; */
        font-size: 16px;
    }
    /* -----------her0-sec------------------ */
    .hero-section{
        background-image: none;
    }
   
    .nav-elms{
        display: none;
    }
    .nav-bar{
        position: relative;
    }
    #check:checked ~ label i::before{
        content: "\f00d";
    }
    #check:checked ~ .nav-elms{
        position: absolute;
        top: 50px;
        left: 1px;
        padding: 20px 30px;
        width: 100%;
        height: 250px;
        background-color: #ECF4FF;
        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav-login{
        visibility:visible;
    }
    .login{
        display: none;
    }
    .ham-btn{
        display: block;
        padding: 0 20px;
    }
    .h-row{
        margin-top: -3rem !important;
        
   }
   .h-card{

    padding: 35px;
   }
   .card-logo{
    padding: 30px 40px;
   }
   .card-logo img{
    width: 60px;
   }
   
    /* ------------------------------ */
    /* --------------block-sec------------ */
    .block-content{
        padding-top: 150px;
        flex-wrap: wrap;
    }

    .brand-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    /* ------------------------------ */
    /* --------------product------- */
    h6{
        font-size: 20px;
    }
    .product-row{
        justify-items: center;
        row-gap: 55px;
    }
    .p-card{
        max-width: 340px;
        flex-direction: column;
    }
    .sale-tag{
        font-size: 20px;
    }
    /* ------------------------------ */
    /* ------------------review-footer----- */
    .sub-card-row{
       grid-template-columns: 1.8fr;
       justify-items: center;
        row-gap: 55px;
    }
    .review-row{
        grid-template-columns: 1fr 1fr;
    }
    .footer-content{
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 40px;
        justify-items: center;
    }
    .contact-block{
        justify-content: center;
    }
    /* ---------------------------------------- */
    .nav-block{
        font-size: 25px;
    }
    .brand-name{
        font-size: 30px;
    }
    .btn{
        font-size: 20px;
    }
    h5,p{
        font-size: 25px;
    }
    h1{
        font-size: 6rem;
    }
   /* ------------------------------------------------- */
   
}
@media screen and (max-width: 450px) {
    .section-head p{
       width: 100%;
    }
    .h-row{
        margin: 0 auto;
        max-width: 750px;
        grid-template-columns:1fr ;
    }
    .navbar{
        flex-basis: 50%;
    }
    .s-width{
        width: 75% !important;
    }
    .section-head{
        align-items: center;
        text-align: center;
    }
    .bootum{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

}
@media screen and (max-width:350px) {
    .c-row{
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
    .review-row{
        grid-template-columns: 1fr 1fr;
    }
    /* .footer-content{
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    } */
}