@media screen and (max-width: 1078px) {
    /* .nav-elms{
        display: none;
    }
    .ham-btn{
        display: block;
        padding: 0 20px;
    }
    

    #check:checked ~ label i::before{
        content: "\f00d";
    }
    #check:checked ~ .nav-elms{
        position: absolute;
        margin-top: 313px;
        padding: 20px 30px; 
        width:200px;
        height: 255px;
        background-color: #ECF4FF;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    } */
    .container{
       padding: 0 3rem;
    }
    .navbar{
        flex: none;
        flex-basis: 74%;
        padding-right: 3rem;
    }
    /* .nav-block{
        position: fixed;
        z-index: 999;
        background-color:#ECF4FF;
    } */
   
}

@media screen and (max-width: 769px)  {
    .hero-section{
        background-size: 425px;
        background-position: right;
    }
    .h-head{
        padding: 8rem 0;
    }
    .nav-header{
        padding:1rem 0 ;
        position: fixed;
        z-index: 999;
    }
    
    .product-row{
        grid-template-columns: 1fr;
    }
    .p-card{
        flex-direction: row;
    }
    .block-content{
        padding-top: 30px;
        row-gap: 30px;
    }
    .w-reduce-p{
        max-width: 80% !important;
    }
    .r-card-head .w-reduce-p{
       width: 100%;
    }
   
   .footer-content{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-between;
    column-gap: 130px;
}
   
    

}
@media screen and (max-width: 500px)  {
    .container{
        margin:0 auto;
        padding: 0 40px;
    }
    p{  
        /* width: 35%; */
        font-size: 16px;
    }
    /* -----------her0-sec------------------ */
    .hero-section{
        background-image: none;
    }
    .h-head{
        padding: 11rem 0;
    }
   
    .nav-elms{
        display: none;
    }
    .nav-bar{
        position: relative;
    }
    #check:checked ~ label i::before{
        content: "\f00d";
    }
    #check:checked ~ .nav-elms{
        position: absolute;
        top: 50px;
        left: 1px;
        padding: 20px 30px;
        width: 100%;
        height: 400px;
        background-color: #ECF4FF;
        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        row-gap:30px;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav-login{
        font-size: 25px !important;
        visibility:visible;
    }
    .login{
        display: none;
    }
    .ham-btn{
        display: block;
        padding: 0 20px;
    }
    .drop-content{
        margin-top: -61px;
        margin-left: 127px;
    }
    .h-row{
        margin-top: -7rem !important;
        
   }
   .hero-card{
    min-height:460px;
    justify-content: center;
   }
   .card-logo{
    padding: 30px 40px;
   }
   .card-logo img{
    width: 60px;
   }
   
    /* ------------------------------ */
    /* --------------block-sec------------ */
    .block-content{
        padding-top: 150px;
        flex-wrap: wrap;
    }

    .brand-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    /* ------------------------------ */
    /* --------------product------- */
    .product-row{
        justify-items: center;
        row-gap: 55px;
    }
    .p-card{
        max-width: 550px;
        flex-direction: column;
    }
    .p-card img{
        width: 550px;
    }
    .cart-btn{
        padding: 2rem;

    }

    
    /* -------------------------------- */
    /* -------------pricing-------------- */
    .w-reduce-h6 {
        width: 263px;
    }
    .heart{
        padding: 44px;
       
    }
    .heart  i{
        font-size: 60px;
    }
    .new{
        padding: 56px 40px;
        font-size: 30px;
    }
    .card-content{
        row-gap: 30px;
        padding: 10px 30px;
        padding-bottom: 30px;
    }
    /* ------------------------------ */
    /* ------------------review-footer----- */
    .sub-card-row{
        display: flex;
        flex-direction: column;
        row-gap: 55px;
        align-items: center;
        flex-wrap: nowrap;
    }
    .sub-card{
        max-width: 550px;
    }
    .review-row{
        grid-template-columns: 1fr 1fr;
    }
    .footer-content{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        justify-content: space-between;
        column-gap: 130px;
    }
    .contact-block{
        justify-content: center;
    }
    .c-head{
        font-size: 25px;
       }
       .c-link{
           font-size: 20px;
    
       }
    /* ------------------font-size---------------------- */
    .nav-block{
        font-size: 25px;
    }
    .brand-name{
        font-size: 38px;
    }
    .btn{
        font-size: 25px;
    }
    h5,p,.l-p,h6{
        font-size: 25px;
    }
    h1{
        font-size: 6rem;
    }
    .card-head{
        font-size: 30px;
    }
    h3{
        font-size: 30px;
    }
    .sale-tag{
        padding: 8px 20px;
        font-size: 20px;
    }
    .rating-tag{
        padding: 15px;
        font-size: 20px;
    }
    
   /* ------------------------------------------------- */
    .section-head p{
        width: 100%;
    }
    .h-row{
        margin: 0 auto;
        max-width: 750px;
        row-gap: 50px;
        grid-template-columns:1fr ;
    }
    .navbar{
        flex-basis: 58%;
    }
    .s-width{
        width: 75% !important;
    }
    .section-head{
        align-items: center;
        text-align: center;
    }
    .bootum{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}


@media screen and (max-width: 450px) {
    .section-head p{
       width: 100%;
    }
    .h-row{
        margin: 0 auto;
        max-width: 750px;
        grid-template-columns:1fr ;
    }
    .navbar{
        flex-basis: 50%;
    }
    .s-width{
        width: 75% !important;
    }
    .section-head{
        align-items: center;
        text-align: center;
    }
    .bootum{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

}
@media screen and (max-width:350px) {
    .c-row{
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
    .review-row{
        grid-template-columns: 1fr;
    }
    .r-card-head .w-reduce-p{
        width: 50%;
    }
    .footer-content{
        padding: 1rem 2rem;
        /* flex-direction: column; */
        align-items: center;
      
    }
    .contact-block{
        max-width: 60%;
    }
    .c-head{
        font-size:30px;
    }
    .c-link{
        font-size: 25px;
    }
    .social-desc{
        font-size: 25px;
    }
    .social-links i{
        font-size: 35px;
    }
    /* .footer-content{
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    } */
}