@media screen and (max-width: 1082px) {
    .container{
        padding: 0 20px;
    }
    .navbar{
        flex: none;
        /* justify-content: center; */
        /* flex-basis: 30%; */
        flex-wrap: nowrap;
    }
    .nav-block{
        margin: 0;
        padding: 0 20px;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 0px;
        width: auto;
    }
    .nav-elms{
        flex-wrap: nowrap;
    }
}    
@media screen and (max-width: 1010px) {
    .hero-section{
        background-image: none;
    }
    .w-reduce-h1{
        text-align: center;
        font-size: 3rem;
    }
    .block-content{
        flex-direction: column;
        column-gap: 0px;
        row-gap: 50px;
    }
    .h-head{
        align-items: center;
    }
    .h-row{
        margin-bottom: 4rem;
    }
    .footer-content{
        grid-template-columns: repeat(3,1fr);
        row-gap: 30px;
    }
    .brand-row{
        max-width: 600px;
        margin: 0 auto;
        row-gap: 30px;
    }
    .product-row{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .p-card{
        flex-direction: row;
    }
    .p-card .card-content{
        padding: 25px;
        row-gap: 20px;
    }
}


@media screen and (max-width: 868px) {
    
    .sub-card-row{
        max-width: 500px;
        margin: 0 auto;
        row-gap: 50px;
    }
    
    .nav-elms{
        display: none;
    }
    .nav-bar{
        position: relative;
    }
    .ham-btn{
        display: block;
        padding: 0 20px;
    }
    .login{
        display: none;
    }
    .nav-login{
        display: block;
    }
    #check:checked ~ label i::before{
        content: "\f00d";
    }
    #check:checked ~ .nav-elms{
        position: absolute;
        top: 50px;
        left: 1px;
        padding: 20px 30px;
        width: 100%;
        height: 500px;
        background-color: #ECF4FF;
        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #dp-check:checked ~ .nav-elms{
        height: 500px;
    }
    #dp-check:checked ~ label::before{
        content: "\f077";
    }
    #dp-check:checked ~ .drop-content{
        display: block;
        position: relative;
    }
    .dp-down-in:hover + .drop-in-content{
        display: none !important;
    }
    #dp-in-check:checked ~ .drop-in-content{
        display: block !important;
    }
    /* #dp-in-check:checked ~ .nav-elms{
        height: 700px;
    } */
    /* .elms:hover{
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0px 13px 20px 6px rgba(0, 0, 0, 0.2);
    } */
    .dp-down:hover .drop-content{
        display:none;
    }

    .join-inp{
        min-width: 400px;
    }
    .h-card-container{
        display: flex;
        justify-content: center;
    }
    .p-card-container{
        display: flex;
        justify-content: center;
    }
    .h-row{
        display: flex;
        flex-direction: column;
        max-width: 70%;
    }
    .product-row{
        /* display: flex;
        align-items: center;
        row-gap: 30px;
        margin: 0 auto;
        flex-direction: column; */
        width: 90%;
    }
    /* .p-card{
        max-width: 341px;
        flex-direction: column;
    } */
   
    /* .p-card .card-content{
        row-gap: 10px;
    } */
   
    .footer-content{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 750px) {
    .product-row{
        display: flex;
        align-items: center;
        row-gap: 30px;
        margin: 0 auto;
        flex-direction: column;
    }
    .p-card{
        flex-direction: column;
        max-width: 341px;
    }
}
@media screen and (max-width: 560px) {
    h5{
        font-size: 14px;
    }
    h1{
        font-size: 2rem !important;
    }
    h2{
        font-size: 35px;
    }
    .s-width {
        width: 300px;
    }
    .l-p{
        font-size: 16px;
    }
    p{
        font-size: 13px;
    }
    .p-white{
        font-size: 13px;
        width: 20rem;
    }
    .brand-name{
        font-size: 20px;
    }
    .product-row{
        max-width: 85%;
    }
    .ham-btn{
        margin: 0;
        padding: 0px 10px 0 0px;
    }
    .join-btn{
        padding: 14px;
    }
    .active-img{
        max-width: 80%;
    }
    .brand-row{
        max-width: 95%;
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
    .h-row{
        margin-top: -13rem;
        max-width: 80%;
    }
    .sub-card-row{
        width:300px ;
    }
    .new{
        font-size: 20px;
        padding: 25px 13px;
        right: -19px;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
    }
    .social-desc{
        font-size: 11px;
    }
    .social-links i{
        font-size: 20px;
    }
    .bootum{
        flex-direction: column;
        row-gap: 15px;
    }
    .j-btn{
        padding: 15px 10px;
    }
    .join-inp{
        min-width:250px;
    }
}
@media screen and (max-width : 340px) {
    .join-btn {
        font-size: 12px;
        column-gap: 4px;
        padding: 9px;
    }
    .btn-grp{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .hero-card{
        max-width: 260px;
    }
    .h-row{
        max-width: 90%;
        justify-items: center;
    }
    .product-row{
        max-width: 85%;
    }
    .s-width {
        width: 250px;
    }
    .p-white{
        width: 18rem;
    }
    .p-img{
        height: 250px;
    }
    .sub-card-row{
        width: 265px;
    }
    .j-btn{
        padding: 10px 5px;
    }
    .join-inp{
        min-width:200px;
    }
    .social-desc {
        font-size: 10px;
    }
    .social-links i{
        font-size: 18px;
    }
    .bootum{
        row-gap: 10px;
    }
}