@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --p-clr:#23A6F0;
    --ash-clr:#737373;
    --bar-red:#E74040;
    --r-gold: #FFCE31;


}
*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
body,h1 ,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}
.bg-clr{
    background-color: #ECF4FF;
}
body{
    font-size: 14px;
    /* min-width:max-content; */
}
p{
    font-weight: 500;
    color: var(--ash-clr);
    margin:0;
    padding: 0;
    /* width: 100%; */
    overflow:visible;
    line-height: 155%;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 40px;
}
h5{
    color: var(--p-clr);
    font-size: 16px;
}
h6{
    color: var(--p-clr);
    font-size: 14px;
    overflow: hidden;
    text-overflow:ellipsis;
    max-width:100%;
}
h3{
    font-size: 24px;
}
img{
    max-width:100%;
}
.card-head{
    color: #252B42;
}
img{
    max-width: 100%;
}
/* --------------------header----------------- */
.brand-name{
    white-space: nowrap;
    font-size: 24px;
    font-weight: 700;
}
.fixed-top{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.nav-elms{
    flex-wrap: wrap;
    padding: 0px 10px;
    display: flex;
    list-style: none;

}
.elms{
    color: var(--ash-clr);
    font-weight:600;
    padding: 10px;
}
.navbar{
    display: flex;
    align-items: center;
    flex: 1;
}
.down-i{
    color: #252B42;
    font-size: 12px;
    padding-left: 2px;
}

.nav-block{
    flex-wrap: wrap;
    display: flex;
    min-height: 80px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 1080px;
    margin: 0 auto;

}
.btn-grp{
    column-gap: 15px;
    display: flex;
}
.btn-fill{
    background:var(--p-clr) !important;
    color: white !important;
}
.btn{
    border-radius: 5px;
    background: transparent;
    border: 1px solid transparent;
    font-weight: 600;
    color: var(--p-clr);
    padding: 16px 26px;
    font: 16px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.nav-login{
    padding: 0px;
    display: none;
}
.btn-grp button i{
    padding: 0 2px;
    font-size: 14px;
    float: right;
}
/* .drop-content{ */
    /* display: none;
    position: absolute;
    min-width: 160px;
    border-radius: 5px; */
    /* box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2); */
/* } */
/* .drop-in-content{
    display: none !important;
    color: var(--ash-clr);
    padding: 12px 16px;
    padding-left: 15px;
    text-decoration: none;
    text-align: left;
} */
.drop-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.drop-content a:hover{
    background-color: white;
    color: #23A6F0;
}
.r-i:hover{
    color: #23A6F0;
}
/* .dp-down:hover .drop-content{
    display:block;
} */
/* .dp-down-in:hover + .drop-in-content{
    display: block !important;
} */
.ham-inp{
    display: none;
}
.side-bar{
    padding: 20px 30px;
    display: none;
    position: absolute;
    width:200px;
    height: 255px;
    z-index: 999;
}
.ham-btn{
    display: none;
    margin: 0 10px;
    font-size: 20px;
    width: 20px;
    height: 22px;
}
/* ------------------------------------------- */
/* -----------------hero-section-------------- */
.container{
    margin: 0 auto;
    max-width: 1080px;
}
.hero-section{
    background-image: url("./images/hero.png");
    background-repeat: no-repeat;
    background-position:right top;
    min-height: 700px;

}
.section-head{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.w-reduce-h1{
    max-width: 500px;
}
.l-p{
    font-size: 20px
}
.h-head{
    row-gap: 40px;
    padding:6rem 0;
}
.c-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 30px;
}
.card{
    row-gap: 18px;
    display: flex;
    flex-direction: column;
    padding:35px 40px;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    min-height: auto;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.card-logo{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding:25px 20px ;
    border-radius: 10px;
    background: var(--p-clr);
}
.hero-card{
    row-gap: 30px;
}
.red-bar::after{
    margin-top: 20px;
    display: block;
    content:' ';
    background-color: var(--bar-red);
    width: 50px;
    height: 2px;
}
.c-row .hero-card:nth-child(2) .card-logo{
    background: green;
}
.c-row .hero-card:nth-child(3) .card-logo{
    background: #3C403D;


}
.card-head{
    color: #252B42;

}
.h-row{
    margin-top: -8rem;
}

/* ------------------------------------------- */
/* ----------------------block-section-------- */
.block-space{
    padding-top: 12rem;
}
.block-content{
    display: flex;
    column-gap: 150px;
    align-items: center;
    justify-content: center;
}
.block-content .red-bar::after{
    height: 7px;
    width: 94px;
}
.s-width{
    width: 361px;
}
.navig-btn{
    border-radius: 30px;
    gap: 4px;
    padding: 0;
}
.navig-btn i{
    font-size: 16px;
}
.brand-row{
    flex-wrap: wrap;
    row-gap: 10px;
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}
/* ------------------------------------------- */
/* -----------------product-section----------- */
.product-bg{
    background: #252B42;
}
.product-head{
    gap: 10px;
    margin-bottom: 4rem;
}
.product-content{
    padding-top: 8rem;
    padding-bottom: 10rem;
    color: white;
}
.p-white{
    color: white;
}
.product-row{
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.p-card{
    padding: 0;
    min-height: fit-content;
    height: 100%;
}
.p-img{
    object-fit: cover;
    height: 330px;
}
.sale-tag{
    position: absolute;
    overflow: hidden;
    z-index: 1;
    color: white;
    background-color: red;
    font-size: 14px;
    top: 15px;
    left: 15px;
}
.overlay-tag{
    min-width: fit-content;
    position: absolute;
    padding: 4px 10px;
    border-radius: 5px;  
}
.upper-sec{
    position: relative;
}
.option-tag{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    position: absolute;
    bottom: 25px;
    width: 100%;
}
.option-bg{
    display: flex;
    align-items: center;
}
.cart-btn{
    padding:1rem;
    font-size: 14px;
    color: #252B42;
    background-color: white;
    border-radius: 50%;
}
.card-content{
    display: flex;
    flex-direction: column;
    row-gap: 15px ;
    padding: 10px 20px;
    padding-bottom: 30px;
    color: #252B42;

}
.card-rating{
    /* align-items: center; */
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}
.rating-tag{
    display: flex;
    padding: 6px;
    border-radius: 25px;
    background-color: #252B42;
    color: white;
}
.gold-i{
    color:var(--r-gold);
}
.download-tag{
    font-weight: 700;
}
.o-price{
    font-weight: 700;
    color: #BDBDBD;
}
.s-price{
    color: #40BB15;
    font: 700;
}
.btn-border{
    width: fit-content;
    padding: 10px 15px;
    border:2px solid var(--p-clr);
}

/* ------------------------------------------ */
/* -------------subscription-section--------- */
.subscription-content{
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
.heart{
    border-radius: 50%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--p-clr);
}
.h-icon{
    font-size: 40px;
    color: white;
}
.t-grey{
    color: var(--ash-clr);
}
.w-reduce-h6{
    width: 238px;
}
.price{
    color: var(--p-clr);
}
.price p{
    color: var(--p-clr);
    opacity: .8;
    font-weight: 700;
}
.w-reduce-p{
    max-width:195px ;
}
.btn-full{
    justify-content: center;
    width: 100%;
}
.check-line{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.check-div{
    background: #BDBDBD;
    padding: 7px 9px;
    border-radius: 50%;
}
.active{
    background: #2DC071;
}
.no-pad{
    padding: 0;
}
.check-div i{
    color: white;
}
.new{
    overflow: hidden;
    color: white;
    font-size: 24px;
    background: #E77C40;
    padding: 33px 20px;
    border-radius: 50%;
    top: -38px;
    right: -29px;
}
.sub-card{
    position: relative;
    row-gap: 30px;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2), 0px 0px 17px 0px rgba(0, 0, 0, 0.19);
}
/* ----------------------------------------- */

/* ---------------review-section------------ */
.review-content{
    padding-top: 15rem;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    padding-bottom: 5rem;
}
.n-shadow{
    box-shadow: none;
}
.r-card-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}
.review-row{
    gap: 30px 0px;
}
.review-card{
    align-items: center;
}
.review-card .w-reduce-p{
    text-align: center;
}
.rating{
    font-size: 18px
}
.user-info{
    display: flex;
    column-gap: 15px;
    align-items: flex-start;
}
.user-info p{
    color: #252B42;
;
    font-weight: 500;
}
.r-card-head .w-reduce-p{
    width: 160px;
    font-weight: 600;
}
/* ----------------------------------------- */
/* ----------------Join-section------------- */
.join-content{
    padding: 5rem 0;
    row-gap: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.join-head{
    text-align: center;
}
.search-sec{
    display: flex;
    width: 70%;
    padding: 0 40px;
    justify-content: center;
}
.join-inp{
    padding: 0 15px;
    border-radius:5px 0 0 5px ;
    flex: 2;
    border: none;
}
.join-inp:focus {
    outline: none;
  }
.j-btn{
    border-radius: 0 5px 5px 0;
}
::placeholder{
    font-weight: 500;
}
/* ----------------------------------------- */
/* --------------footer-------------------- */

.footer-content{
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr .8fr;
}
.contact-block{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.c-head{
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
}
.c-links{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.c-links i{
    font-size: 22px;
    color: #23A6F0;
}
.c-link{
    color: #737373;
    font-size: 13px;
    font-weight: 700;
}
.address-link{
    margin-left:7px;
    width: max-content;
}
.footer-social{
    background: #FAFAFA;
}
.addres-blk{
    width: 80%;
}
.addres-blk .check-line{
    display: flex;
}
.bootum{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}
.social-links{
    font-size: 24px;
    color: #23A6F0;
}
.social-links i{
    color: #23A6F0;
    padding: 0 10px;
}
.social-desc{
    color: #737373;
}
/* --------------------------------------- */
